.Menu {
  position: fixed;
  background: white;
  color: black;
  min-width: 14rem;
  padding: 0.25rem;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgba(black, 0.1);
  box-shadow: 0 10px 20px rgba(black, 0.5);
}

.SubMenu {
  box-sizing: border-box;
  position: absolute;
  background: white;
  color: black;
  padding: 0.25rem;
  min-width: 14rem;
  left: calc(100%);
  top: 0;
  border-radius: 2px;
  border: 1px solid rgba(black, 0.1);
  box-shadow: 0 10px 20px rgba(black, 0.5);
  z-index: 10;
}

.MenuItem {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  background: white;
  border: 0;
  text-align: left;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  align-items: center;
  grid-gap: 1rem;
  position: relative;
  &:hover {
    background: rgba(black, 0.1);
  }
}

.Divider {
  width: 90%;
  background: rgba(black, 0.1);
  height: 1px;
  margin: 0 auto;
}

.MenuIcon {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  svg, img {
    max-width: 100%;
    max-height: 100%;
  }
}

.ArrowIcon {
  box-sizing: border-box;
  height: 0.5rem;
  align-self: center;
  justify-self: center;
}

.CircumstanceProvider {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
