$darkTheme: "darkTheme";
$lightTheme: "lightTheme";

$background: "background";
$textColor: "textColor";
$modalBackground: "modalBackground";
$modalBorder: "modalBorder";
/* ...other color keys... */

$themes: (
  $darkTheme: (
    $background: #0f0f0f,
    $textColor: white,
    $modalBackground: rgba(white, 0.05),
    $modalBorder: rgba(white, 0.1)
  ),
  $lightTheme: (
    $background: white,
    $textColor: black,
    $modalBackground: rgba(black, 0.05),
    $modalBorder: rgba(black, 0.1)
  )
);

@mixin themeProperty($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
  } @else {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
  }
}

@mixin theme($property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
  $light: map-get($themes, $lightTheme);
  $dark: map-get($themes, $darkTheme);

  @include themeProperty($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

  @media (prefers-color-scheme: dark) {
    @include themeProperty($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include theme("background", $background);
  @include theme("color", $textColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

.clickable {
  width: 50%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include theme("background", $modalBackground);
  @include theme("border-color", $modalBorder);
  border: 1px solid;
  border-radius: 0.5rem;
}
